

.box {
  background-color: white;
  /* background-image: url("https://free4kwallpapers.com/uploads/originals/2019/10/31/blue-minimalist-mountain-range-wallpaper.jpg"); */
  background-position: center;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postcodeFormContainer {
  padding-bottom: 64px;
}

.loadingContainer {
  height: 80vh;
  display: flex;
  align-items: center;
}

.windowResultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.openWindowText {
  font-size: 50px;
  line-height: 1;
  padding-bottom: 14px;
  animation: expandLetterSpacing 2s ease-in-out;
  letter-spacing: 5px;
}

.closeWindowText {
  font-size: 50px;
  line-height: 1;
  padding-bottom: 14px;
  animation: contractLetterSpacing 2s ease-in-out;
  letter-spacing: -3px;
}

.initialHomeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.descriptionContainer {
  padding-bottom: 28px;
}

.resultContainer {
  padding-top: 30px;
  padding-bottom: 50px;
}

.postcodeForm {
display: flex;
flex-direction: row;
align-items: end;
}

.postcodeInput {
width: 260px;
margin-right: 16px;
}

.postcodeSubmitButton {
width: 80px;
}

.container {
  width: 900px;
}

.formLabel {
width: 49em;
color: black;
}

.h1 {
font-size: 120px;
}

.topNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #DBDBDB;
  padding-bottom: 8px;
  padding-top: 8px;
  align-items: center;
}

.navPostcodeForm {
  display: flex;
}

.navLogo {
  font-weight: bold;
}

.navPostcodeInput {
  width: 150px;
  margin-right: 8px;
}

.charts {
  display: flex;
}

.chartsCentred {
  display: flex;
  justify-content: center;
}

@keyframes expandLetterSpacing {
  0% { letter-spacing: -3px;}
  100% { letter-spacing: 5px; }
}

@keyframes contractLetterSpacing {
  0% { letter-spacing: 5px;}
  100% { letter-spacing: -3px; }
}
