

.box {
  background-color: white;
  /* background-image: url("https://free4kwallpapers.com/uploads/originals/2019/10/31/blue-minimalist-mountain-range-wallpaper.jpg"); */
  background-position: center;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postcodeFormContainer {
  padding-bottom: 64px;
}

.loadingContainer {
  height: 80vh;
  display: flex;
  align-items: center;
}

.openWindowImage {
  width: 500px;
}

.openWindowResultContainer {
  display: flex;
  width: 800px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.openWindowText {
  font-size: 50px;
  line-height: 1;
  padding-bottom: 14px;
}

.initialHomeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.descriptionContainer {
  padding-bottom: 28px;
}

.resultContainer {
padding-top: 60px;
}

.postcodeForm {
display: flex;
flex-direction: row;
align-items: end;
}

.postcodeInput {
width: 260px;
margin-right: 16px;
}

.postcodeSubmitButton {
width: 80px;
}

.formLabel {
width: 49em;
color: black;
}

.h1 {
font-size: 120px;
}

.topNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #DBDBDB;
  padding-bottom: 8px;
  padding-top: 8px;
  align-items: center;
}

.navPostcodeForm {
  display: flex;
}

.navLogo {
  font-weight: bold;
}

.navPostcodeInput {
  width: 150px;
  margin-right: 8px;
}
